<ion-view title="Flop listening">
    <ion-content padding="true" class="has-header">
        <div class="list card" ng-repeat="song in songs">
            <div class="item item-divider">{{song.name}}</div>
            <div class="item item-body">
                <div class="button-bar">
                    <button class="button  button-icon button-block  icon ion-heart"></button>
                    <button class="button button-stable button-icon button-block  icon ion-close"></button>
                    <button ng-click="playSong(song)" class="button button-stable button-icon button-block  icon ion-play"></button>
                </div>
            </div>
            <div class="item item-divider">{{song.artist}}</div>
        </div>
    </ion-content>
